<div class="col-md-6 col-md-offset-3">

    <div class="container">

        <h2>Childs Name Page</h2>
        <div>
            <ul ng-repeat = "child in vm.childs">
                <h3 ng-click = "vm.editChild(child._id)">{{child.name}}</h3>
                <ul  ng-if = "vm.editableChild == childs._id">
                    <h3 ng-model = "child.firstname">Child</h3>
                    <p>{{child.firstname}}</p>
                    <p>{{child.lastname}}</p>
                    <p>{{child.school}}</p>
                    <p>{{child.grade}}</p>
                </ul>

            </ul>

        </div>

        <ul>
            <li ng-repeat="child in vm.childs">
              <h3 ng-click="vm.editChild(childs._id)"></h3>
              <br>
              <ul  ng-if = "vm.editableChild == childs._id">
                  <h3 ng-model = "child.firstname"></h3>
                   <input type="text" placeholder="First Name" ng-model = "child.firstname"><br>
                  <input type="text" placeholder="Last Name" ng-model = "child.lastname"><br>
                  <input type="text" placeholder="School" ng-model = "child.school"><br>
                  <input type="text" placeholder="Grade" ng-model = "child.grade"><br>
              </ul>
              <form ng-submit="vm.updateChild(child)">
                <input type="submit" value="Update">
                <input type="submit" value="Delete" ng-click = "vm.deleteChild(child._id)">
              </form>
            </li>
          </ul>

</div>
