<div class="col-md-6 col-md-offset-3">

    <div class="container">

        <h2>Child Page</h2>

        <form name="form" ng-submit="vm.addChild()" role="form">
            <div class="form-group" ng-submit = "">
                <label for="firstname"> First Name</label><input type="text" name="" value=""ng-model = "vm.firstname" required /><br>
                <label for="lastname">Last Name</label><input type="text" name="" value="" ng-model = "vm.lastname" required /><br>
                <label for="school">School</label><input type="text" name="" value="" ng-model = "vm.school" required /><br>
                <label for="grade">Grade</label><input type="text" name="" value="" ng-model = "vm.grade" required /><br>
                <input type="submit" value="Add a child">
            </div>


        </form>



    </div>






</div>
