<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>



<div ng-controller="childController as childCtrl">
  <div id="mealAccounts" class="row list-balances clearfix" role="main">
    <!-- <h1 class="off-screen">Meal Accounts</h1> -->
    <div class="header-row clearfix col-md-10 col-md-offset-1">
      <h1>Meal Accounts</h1>
    </div>

    <div class="header-row clearfix col-md-10 col-md-offset-1">
      <div class="header-col col-sm-9 col-md-9 col-lg-10 hidden-xs">
        <label class="margin-left-small">My Students</label>
      </div>
      <div class="header-col col-sm-3 col-md-3 col-lg-2 hidden-xs">
        <label class="margin-left-small">Account Balance</label>
      </div>
    </div>


    <div ng-repeat="child in children">

      <div class="list-row clearfix col-md-10 col-md-offset-1" id="#stat.index" role="region" aria-label="">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
          <div class="list-col col-dark clearfix">
            <span class="col-xs-8">

						<span title="child.lastname"><a href="" ng-click="childCtrl.getOneChild(child._id)">  {{child.firstname}} {{child.lastname}}</a></span>
            </span>
          </div>
        </div>
        <div class="list-col clearfix visible-xs col-xs-2">
          <label class="inner-label">Balance:</label>
        </div>
        <div class="col-xs-6 col-xs-offset-4 col-sm-3 col-sm-offset-0 col-md-3 col-lg-2 text-right">
          <div class="list-col clearfix col-default ">
            <span class="">
						{{child.funds | currency }}
          </span>
          </div>
        </div>
      </div>
    </div>



    <div class="clearfix col-md-10 col-md-offset-1 margin-vertical-medium" ng-controller="childController as childCtrl2">
      <!-- Add new Students -->
      <span><a id="addStudent" href="#!/childs/add" class="margin-bottom-small" ><i class="glyphicon glyphicon-plus-sign font-size-large"></i> Add a Student</a></span>
    </div>

    <div class="clearfix col-md-10 col-md-offset-1 margin-vertical-medium" ng-controller="userController as userCtrl2">
      <!-- Edit Students -->
      <span><a id="addStudent" href="#!/childs/edit" class="margin-bottom-small" ><i class="glyphicon glyphicon-plus-sign font-size-large"></i> Edit a Student</a></span>
    </div>


    <div class="payment-options col-md-10 col-md-offset-1" aria-label="Select Your Student Payment Option">
      <h2 class="options-title">
				Select Your Student Payment Option
		</h2>

      <div class="row payment-options-well-center" ng-controller="userController as userCtrl">

        <div class="payment-options-well well-green center-div col-xs-10 col-sm-5" role="region" aria-label="Add One-Time Funds">
          <h3 class="options-title">Add One-Time Funds</h3>
          <div class="options-msg">Make a one-time payment to your student's account.</div>
          <div class="action-div">
            <a id="makeAMealPayment" href="#!/dashboard" class="btn btn-default btn-makeamealpayment" role="button" ng-click="userCtrl.fundStudent(currentUser._id)">Make a Payment</a>
          </div>
        </div>

        <div class="payment-options-well well-blue center-div col-xs-10 col-sm-5" role="region" aria-label="Set Up AutoPay">
          <h3 class="options-title">Set Up AutoPay</h3>
          <div class="options-msg">Set your balance once, and let us handle the rest. Eliminate one-time payments.</div>
          <div class="action-div"> <a id="setUpAutopay" href="#!/dashboard" class="btn btn-default btn-setupautopay" role="button">Get Started</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
