



<div class="userpage">
    <div class="container">
        <div class="row" >
            <h1>{{child.name}}</h1>
            <!-- navbar header -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#!">School Payment</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/#!/dashboard">Home</a></li>
                        <li><a href="/#!/childs/add">Add Student</a></li>
                        <li><a href="/#!/childs/funds">Funds</a></li>
                    </ul>
                </div>
            </nav>
            <!-- Show all Students -->
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>School</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat = "child in currentUser.child">
                            <tr ng-click = "vm.editOneChild(child)">
                                <th scope = "row">1</th>
                                <td>{{child.firstname}}</td>
                                <td>{{child.school}}</td>
                                <td>{{child.grade}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- form to update child -->
                    <form ng-submit = "vm.updateChild(child)" ng-if = "currentUser.child === child">
                        <input type="text" ng-model = "child.firstname" placeholder="firstname"/><br/>
                        <input type="text" ng-model = "child.lastname" placeholder="lastname"/><br/>
                        <input type="text" ng-model = "child.school" placeholder="school"/><br/>
                        <input type="text" ng-model = "child.grade" placeholder="grade"/><br/>
                        <input type="submit"  value="Update Student"/>
                    </form>

                </div>

            </div>
            <div class="header-row clearfix col-md-10 col-md-offset-1">
                <h3>Edit Student</h3>
            </div>

                    <form ng-submit="vm.updateChild(child)">
                    <div class="">
                        <div ng-model="child.firstname" class="well  well-sm"class="header-col col-sm-9 col-md-9 col-lg-10 hidden-xs">
                            <label for="">First Name</label>
                            <input class="form-control"  type="text" ng-model="vm.firstname"required=""><br>
                        </div>
                    </div>
                        <div ng-model="child.firstname"class="well well-sm" class="header-col col-sm-9 col-md-9 col-lg-10 hidden-xs">
                            <label for="">Last Name</label>
                            <input class="form-control"  type="text" ng-model="vm.lastname" required=""><br>
                        </div>

                        <div ng-model="child.firstname"class="well well-sm" class="header-col col-sm-9 col-md-9 col-lg-10 hidden-xs">
                            <label for="school">School</label>
                            <select class="form-control" name="School" ng-model="vm.school" required="">
                                <option>Level Creek Elementary</option>
                                <option>North Gwinnett Middle School</option>
                                <option>North Gwinnett High School</option>
                                <option>Hans Christian Anderson Elementary</option>
                                <option>JFK Middle School</option>
                                <option>Rockledge High School</option>
                                <option>Golfview Elementary</option>
                                <option>Ronald McNair Middle School</option>
                                <option>Cocoa High School</option>
                            </select><br>
                            <!-- call edit child function on click -->
                            <input type="submit" value="Update" ng-click="vm.updateChild(currentUser.child)">
                            <!-- call deleteChild function on click -->
                            <button ng-click="vm.deleteChild(currentUser.child)">Delete</button>
                        </div>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
