
<ul>
    <li ng-repeat="meal in vm.meals">
      <h3 ng-click="vm.editMeal(meal._id)">{{meal.menu}}</h3>
      <ul ng-if="vm.editableMeal !== meal._id" >
      </ul>
      <br>



      <form ng-submit="vm.updateMeal(meal)"
      ng-if="vm.editableMeal == meal._id">
        <label>Menu:</label><br>
        <input type="text" placeholder="Menu" ng-model="meal.menu"><br>
        <label>Cost:</label><br>
        <select ng-model="meal.cost">
          <option value="$2.50">$2.50</option>
          <option value="$.40">$.40</option>
        </select><br>
        <label>Date:</label><br>
        <input type="text" placeholder="Date" ng-model="meal.date"><br>
        <input type="submit" value="Update">
        <input ng-click="vm.deleteMeal(meal._id)" type="submit" value="Delete">
      </form>
    </li>
  </ul>
