<div class="container" ng-controller="loginCtr as ctrl">

  <div class="header clearfix">
    <div class="logo-section">
      <img src="/images/logo.png" alt="logo" id="logo">
      <h4>School Payment System</h4>

    </div>

    <nav>

      <ul class="nav nav-pills pull-right">

        <div ng-hide="currentUser">
          <!-- <li role="presentation">
            <a href="#!/login"><span class="glyphicon glyphicon-log-out"> </span> Login</a></li> -->
          <a href="#!/login" style="color: white"><span class="glyphicon glyphicon-log-out"></span>Login</a>
          <a href="#!/register" style="color: white"><span class="glyphicon glyphicon-modal-window"> </span>Register</a>

        </div>

        <div ng-hide="!currentUser">

          <a href="#!/dashboard" style="color: white"><span class="glyphicon glyphicon-tasks" ></span> Dashboard</a>
          <a href="" ng-click="ctrl.logout()" style="color: white"><span class="glyphicon glyphicon-log-out" ></span>Logout</a>
          <br>
          <div style="color: yellow">
            Login as: {{currentUser.firstname}} {{currentUser.lastname}}
          </div>



        </div>


      </ul>
    </nav>



  </div>
</div>
