<div class="login-page">


  <!-- <div class="col-md-6 col-md-offset-3"> -->

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="margin-top: 5%">
        <div class="panel panel-default">
          <div class="panel-heading"> <strong class="">Login </strong>
          </div>
          <div class="panel-body">
            <div class="alert alert-danger" ng-if="error_msg.length > 0">
              {{error_msg}}
            </div>

            <form name="form" ng-submit="vm.submit()" role="form">
              <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required /> </input>
                <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
              </div>
              <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid " class="btn btn-primary">Login</button>

                <a href="#!/register" class="btn btn-link">Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- </div> -->
</div>


<div class="row login-footer">
  <div class="col-md-4 steps3-col">
    <i class="fa custom-fa-icon1">
	                       <img src="//msb-prod-yu9pfqle.netdna-ssl.com/ver2/templates/default/images/main_convenient.png" alt="Convenient">
	                   </i>
    <h3>CONVENIENT</h3>
    <p>Pay for meals, check balances, and view purchases from anywhere.</p>

  </div>
  <div class="col-md-4 steps3-col">

    <i class="fa custom-fa-icon2">

                       <img src="https://msb-prod-yu9pfqle.netdna-ssl.com/ver2/templates/default/images/main_secure.png" alt="Secure">
                   </i>
    <h3>SECURE</h3>
    <p>You're protected by the highest industry standards including PCI and CISP.</p>

  </div>
  <div class="col-md-4 steps3-col">
    <i class="fa custom-fa-icon3">
	                       <img src="//msb-prod-yu9pfqle.netdna-ssl.com/ver2/templates/default/images/main_mobile.png" alt="Mobile">
	                   </i>
    <div>
      <h3>Mobile</h3>
      <p>Wherever you go, take School Payment System with you.</p>
    </div>
  </div>

</div>
