/* Space out content a bit */

body {
  /*background: red;*/
  padding-top: 20px;
  padding-bottom: 20px;
}
.main{
  padding: 160px;
}

.header-section {
  height: 100%;
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(53, 170, 71, 0.2), rgba(53, 170, 71, 0.2)), url("http://www.boardingschools.com/images/home/slides3/slide3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
}

.glyphicon {
  padding-right: 10px;
}

#mealAccounts {
  margin-top: 5%;
}


/*.login-page {
  height: 100%;
  width: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("http://www.boardingschools.com/images/home/slides3/slide3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
}*/

.logo-section {
  /*margin-left: 30%;*/
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
  padding-right: 15px;
  padding-left: 15px;
}


/* Custom page header */

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow>hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}


/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p+h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header {
  margin-top: 0;
}


/*footer {
  padding: 30px 0;
  font-size: 14px;
  color: #888;
  background: #222;
  text-align: center;
  top: 10%;
  left: 0%;
  margin-top: 40px;
}*/

footer {
  text-align: center !important;
  display: flex !important;
  align-items: center;
  align-content: center;
  bottom: 0%;
  width: 100%;
  position: relative;
  color: black;
  background: #e4e4e4;
  padding-top: 10px;
  flex-direction: column;
  justify-content: center;
}

.body-div {
  width: 100%;
  height: 720px;
}

.table-responsive {
  padding: 10px;
  /*border: 1px solid gray;*/
}

#logo {
  width: 20%;
  height: 30%;
}

.login-footer {
  /*height: 100px;
  margin-bottom: 0;*/
  /*padding-top: 50px;*/
  font-size: 14px;
  color: white;
  background: #2F7EC2;
  display: block;
  margin-bottom: 0;
  margin-top: 5%;
}

.custom-fa-icon1, .custom-fa-icon2, .custom-fa-icon3 {
  width: 60px;
  height: 90px;
  text-align: center;
  vertical-align: middle;
  padding-top: 13px;
  margin-right: 15px;
  float: left;
}

.custom-steps3blue .custom-fa-icon1 img {
  width: 64px;
  height: 54px;
  padding-right: 5px;
}

.custom-steps3blue .custom-fa-icon2 img {
  width: 48px;
  height: 60px;
}

.custom-steps3blue .custom-fa-icon3 img {
  width: 40px;
  height: 60px;
}

.login-page {
  padding-top: 5%;
}

.header-section {
  margin: 0;
}

.name-div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 27px;
  line-height: 22px;
  padding: 5px 0px 5px 10px;
  margin-bottom: 50px;
  background: #ecf0f1;
}

.list-balances {
  margin-bottom: 20px !important;
  min-width: 300px;
}

.list-balances .header-row {
  padding: 5px;
  border-bottom: 2px solid #e3e3e3;
}

.list-balances .header-col {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.list-balances .list-row {
  font-size: 15px;
  padding: 9px;
  border-bottom: 1px solid #e3e3e3;
}

.list-balances .list-row>div {
  padding: 0.45em !important;
}

.list-balances .list-col {
  padding: 9px;
}

.list-balances .list-col label {
  color: #777 !important;
  font-size: 13px;
  padding: 2px 0 0 0;
  text-transform: uppercase;
}

.list-balances .inner-label {
  padding-top: 11px !important;
  margin-left: 9px !important;
}

.list-balances .col-dark {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}

.list-balances .col-dark span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-balances .col-default {
  border: 1px solid #e3e3e3;
}

.list-balances .payment-options {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #f5f5f5;
  text-align: center;
  padding: 1em;
}

.list-balances .payment-options .options-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: large;
  font-family: inherit;
  text-align: center;
  margin: 0;
}

.list-balances .payment-options .options-msg {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
}

.list-balances .list-row a {
  color: #555;
}

.list-balances .list-row a:hover {
  color: #fd8a33;
}

.list-balances .payment-options .payment-options-well {
  padding: 1em 0.7em;
  white-space: normal;
  min-width: 300px;
  min-height: 170px;
}

.list-balances .payment-options .payment-options-well .btn-default {
  color: #ffffff !important;
}

.list-balances .payment-options .payment-options-well.well-blue {
  color: #ffffff !important;
  background-color: #2f7ec2;
  border: 1px solid #ffffff;
}

.list-balances .payment-options .payment-options-well.well-green {
  color: #ffffff !important;
  background-color: #35aa47;
  border: 1px solid #ffffff;
}

.list-balances .payment-options .payment-options-well .action-div {
  margin-top: 1em;
  text-align: center !important;
}

.btn-makeamealpayment:hover, .btn-makeamealpayment:focus, .btn-makeamealpayment:active {
  background: #66CC66;
}

.paymentsetup .payment-options {
  clear: both;
  float: right;
}

.paymentsetup .payment-options .payment-options-row {
  clear: both;
  float: right;
  padding-bottom: 10px;
  overflow: hidden;
}

.paymentsetup .payment-options .payment-options-row .onoffswitch-main-label {
  float: left;
  padding-right: 10px;
  line-height: 34px;
}

.paymentsetup .payment-options .payment-options-row .onoffswitch {
  float: left;
}

.ordersetup .payment-options {
  clear: both;
  float: right;
}

.ordersetup .payment-options .payment-options-row {
  clear: both;
  float: right;
  padding-bottom: 10px;
  overflow: hidden;
}

.payment-options-well-center {
  float: right;
}

.list-balances .payment-options .options-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: large;
  font-family: inherit;
  text-align: center;
  margin: 0;
}

.list-balances .payment-options .options-msg {
  font-weight: normal;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
}

.list-balances .list-row a {
  color: #555;
}

.list-balances .list-row a:hover {
  color: #fd8a33;
}

.btn-setupautopay:hover, .btn-setupautopay:focus, .btn-setupautopay:active {
  background: #6699CC;
}

.product-addstudent {
  padding-bottom: 4px;
  padding-right: 24px;
}

.product-addstudent span i {
  padding-right: 0.2em;
}

#addStudent {
  color: #337ab7;
}

#addStudent:hover, #addStudent:focus, #addStudent:active {
  color: #fd8a33;
}

#makeAMealPayment {
  background-color: rgb(53, 170, 71);
}

#setUpAutopay {
  background-color: #337ab7;
}
